html, body, div#app {
	margin: 0;
	padding: 0;
	height: 100%;
}

.fx-container {
	display: flex;
	height: 100%;
	width: 100%;
}

.fx-column {
	flex-direction: column;
}

.fx-center {
	align-items: center;
	justify-content: center;
}

.flex {
	flex-basis: 100%;
	flex: 1;
}